@using RestaurantDatabase.Models;

<h2>@Model.CurrentCuisine.Name Food Places:</h2>

@foreach (Restaurant restaurant in @Model.Restaurants)
{
  <div class="well">
    <h3>@restaurant.Name</h3>
    <p>@restaurant.Address</p>
    <p>@restaurant.Phone</p>
    <p><a href="http://@restaurant.Website">@restaurant.Website</a></p>
    <p>@restaurant.Cost</p>
    <p>@restaurant.Rating</p>

    @foreach(Review review in @Model.RestaurantReviews[restaurant.Id])
    {
      <hr>
      <p>@review.Comment</p>
      <p>--@review.Author</p>
    }

    <hr>
    <form action="/cuisines/@Model.CurrentCuisine.Id/restaurants/@restaurant.Id/reviews/add" method="post">
      <div class="form-group">
        <label for="review-author">Your Name:</label>
        <input class="form-control" id="review-author" name="review-author" type="text" required>
      </div>
      <div class="form-group">
        <label for="review-comment">Comment:</label>
        <textarea class="form-control" id="review-comment" name="review-comment" required></textarea>
      </div>
      <button class="btn btn-danger" type="submit">Add a review</button>
    </form>
  </div>
}

<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#AddRestaurantModal">Add a new restaurant</button>

@Html.Partial("CuisineDetails/AddRestaurantModal")
