@using RestaurantDatabase.Models;

<h2>@Model.CurrentCuisine.Name Food Places:</h2>

@foreach (Restaurant restaurant in @Model.Restaurants)
{
  <div class="well">
    <h3>@restaurant.Name</h3>
    <p>@restaurant.Address</p>
    <p>@restaurant.Phone</p>
    <p><a href="http://@restaurant.Website">@restaurant.Website</a></p>
    <p>@restaurant.Cost</p>
    <p>@restaurant.Rating</p>
  </div>
}
